# Virtual Environment
venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/

# JetBrains IDE
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# FAISS Index Files
*.faiss
*.index

# Python Build Files
build/
dist/
*.egg-info/

# Logs
*.log

# ZIP Files
src.zip